Source: lollypop
Section: gnome
Priority: optional
Maintainer: Ali Guven Odabasioglu <agodabasioglu@gmail.com>
Build-Depends: debhelper (>= 9), 
               autotools-dev, 
               gnome-common,
               gnome-doc-utils,
               gnome-pkg-tools (>= 0.11),
               gobject-introspection (>= 1.35.9),
               libgirepository1.0-dev (>= 1.35.9),
               python-gi-dev,
               python3,
               libglib2.0-dev (>= 2.35.9),
               libgtk-3-dev (>= 3.12.2),
               yelp-tools
Standards-Version: 3.9.6
Homepage: https://gnumdk.github.io/lollypop-web
#Vcs-Git: git://anonscm.debian.org/collab-maint/lollypop.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/lollypop.git;a=summary

Package: lollypop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gir1.2-glib-2.0 (>= 1.35.9),
         gir1.2-gtk-3.0 (>= 3.8),
         gir1.2-gstreamer-1.0,
         gir1.2-gst-plugins-base-1.0,
         gir1.2-notify-0.7,
         gir1.2-secret-1,
         gir1.2-totem-plparser-1.0,
         gnome-settings-daemon,
         python3,
         python3-dbus,
         python3-gi,
         python3-gi-cairo
Description: A Music player for GNOME
 A Music player for GNOME featuring intuitive 
 browsing of your music collection.
