[Desktop Entry]
Type=Application
Name=Basenji
Exec=basenji
Terminal=false
Icon=/usr/share/basenji/basenji.svg
Categories=Utility;
Comment=A portable volume indexer.
Comment[de]=Ein portierbares Datenträger-Indizierungswerkzeug.
