Package: girl
Version: 9.7.1-1
Architecture: amd64
Maintainer: Ali Guven Odabasioglu <agodabasioglu@gmail.com>
Installed-Size: 1436
Depends: gconf-service, libart-2.0-2 (>= 2.3.17), libatk1.0-0 (>= 1.12.4), libbonobo2-0 (>= 2.32.1-3~), libbonoboui2-0 (>= 2.15.1), libc6 (>= 2.4), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.11), libfreetype6 (>= 2.2.1), libgconf-2-4 (>= 3.2.5), libgdk-pixbuf2.0-0 (>= 2.25.2), libglib2.0-0 (>= 2.39.4), libgnome-2-0, libgnomecanvas2-0 (>= 2.11.1), libgnomeui-0 (>= 2.22.0), libgnomevfs2-0 (>= 1:2.17.90), libgstreamer-plugins-base1.0-0 (>= 1.0.0), libgstreamer1.0-0 (>= 1.0.0), libgtk2.0-0 (>= 2.24.0), libice6 (>= 1:1.0.0), liborbit-2-0 (>= 1:2.14.10), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0), libpopt0 (>= 1.14), libsm6, libxml2 (>= 2.7.4), libgnome2-0
Section: gnome
Priority: optional
Homepage: https://wiki.gnome.org/Apps/Girl
Description: GNOME Internet Radio Locator
 GNOME Internet Radio Locator allows users to easily locate live radio
 programs on radio broadcasters on the Internet.
